.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

svg {
  background-color: rgb(180, 180, 180);
}

.ged {
  display: flex;
  flex-direction: column;
}

button {
  margin: 4px;
  padding: 6px;
  font-size: 14px;
}
